body {
    
     background-image: url('https://i.pinimg.com/736x/9a/05/c9/9a05c9cdac69597fbac64cb51e0d614f.jpg'); 
     background-size: 3000px 1500px; 
     background-repeat: no-repeat; 
     background-position: center; 
}
h1{
    font-size: 70px;
    text-align: center;
    width: 600px;
    margin: 20px auto;
    border: 5px solid #000000; 
    border-radius: 10px;
    background: white;
    opacity: 0.8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;         
    height: 120px;        
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: #000000;
    border: 5px solid #000000; 
    border-radius: 10px;       
    margin: 20px auto;         
    box-sizing: border-box;   
    background: #ffb0b0;          
}
.link:hover {
    background: #f7ffb0;          
    color: #7704fc;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
